.cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 300px;
    background-color: rgb(136, 104, 165);
    border-radius: 15px;
}

.carts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img{
    width: 140px;
    height: 100px;
}

.reg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: rgb(118, 124, 130);
}

.red{
    color: red;
}
